.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #131638;
    margin-top: 200px;
    width:200px;
    z-index: 1;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #15183d;
  }

  .show {display:block;}

  .expand {margin-top: 70px !important;}

  .pagecontainer {
    text-align: left;
    margin:auto;
    margin-top: 10px;
  }



  /*STAT SECTION*/
  
.greeting {
  font-weight: 400;
  margin-left: 60px;
  color: white;
  font-size: 2.3em;
}

.subtitles {
  margin-left:20px;
  font-weight:600;
}

  .journeystat {
    background-color: #111332;
    color: white;
    width: 90%;
    margin:auto;
    height: 27vh;
    padding-top:1px;
    border-radius:14px;
    padding-top: 14px;
    min-height: 140px;
  }

  
  .fitnesscontainer, 
  .dietcontainer{
    background-color: #111332;
    width: 60%;
    height: 37vh;
    border-radius:14px;
    padding: 20px;
  }

.fitnesscontainer{
  margin-right:5px;
}

.dietcontainer {
  margin-left:5px;
}

.journeystat:hover,
.fitnesscontainer:hover,
.dietcontainer:hover {
  cursor: pointer;
  background-color: #131537
}

.circlesection {
  justify-content: center;
  display: grid;
}

.row-2-container,
.row-3-container {
  color: white;
  width: 90%;
  margin: 10px auto;
  height: 300px;
}

.row-3-container {
  margin-top: 80px;
}

.row-2-section {
  display:inline-flex;
  width: 100%;
  align-content: space-between;
}

.rightsection {
  display:inline-block;
  width: 90%;
  height: 100vh;
  margin-left:10%;
}