.barchart {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    
  }
  
  .labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .label {
    font-size: 12px;
    font-weight: bold;
    color: #666;
  }
  
  .bars {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  
  .bar {
    width: 100%;
    margin: 0 1%;
  }
  